.el-cascader-node{
    margin-top: 10px !important;
}
/* 去掉input尾部上下小箭头 end */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type='number'] {
  -moz-appearance: textfield !important;
}